<form #latestTask="ngForm" ngNativeValidate (ngSubmit)="tabledetails(latestTask)">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <h2 class="sub-header">Work</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-2">Title</th>
              <th class="col-md-5">Description</th>
              <th class="col-md-2">Category</th>
              <th class="col-md-2">Label</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody *ngFor="let task of tasks">
            <tr *ngIf="task.category === 'Work'">
              <td class="col-md-2">{{ task.title }}</td>
              <td class="col-md-5">{{ task.description }}</td>
              <td class="col-md-2">{{ task.category }}</td>
              <td class="col-md-2">{{ task.label }}</td>
              <td class="col-md-2">
                <button
                  type="submit"
                  (click)="delete(task)"
                  class="btn btn-danger active"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <h2 class="sub-header">Personal</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-2">Title</th>
              <th class="col-md-5">Description</th>
              <th class="col-md-2">Category</th>
              <th class="col-md-2">Label</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody *ngFor="let task of tasks">
            <tr *ngIf="task.category === 'Personal'">
              <td class="col-md-2">{{ task.title }}</td>
              <td class="col-md-5">{{ task.description }}</td>
              <td class="col-md-2">{{ task.category }}</td>
              <td class="col-md-2">{{ task.label }}</td>
              <td class="col-md-2">
                <button
                  type="submit"
                  (click)="delete(task)"
                  class="btn btn-danger active"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
